.hero-image {
  background-image: url("/assets/photo-of-women-s-clothing-1488467.jpg");
  height: 500px;
  max-height: 50%;
  background-size: cover;
  background-position: center;
  position: relative;
  width: calc(100% + 40px);
  margin-bottom: 20px;
  margin-left: -20px;
  margin-top: -20px;
}

.hero-image__author {
  position: absolute;
  right: 0;
  bottom: 0;
  color: #ffffff;
  padding: 5px;
}
