/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.shadow {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000000;
  opacity: 0.3;
}

a {
  color: inherit;
}

a:visited {
  color: inherit;
}

.mat-menu-content {
  padding: 0 !important;
}

.display_block {
  display: block;
}

.mat-menu-panel {
  min-height: unset !important;
  padding: 0;
}
